<button data-target="modal1" class="btn modal-trigger red z-depth-4">Add Task</button>

<div id="modal1" class="modal">
    <div class="modal-content">
        <div class="input-field">
            <label for="title">Title</label>
            <input type="text">
        </div>
        <div class="input-field">
            <label for="content">Content</label>
            <input type="text">
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Add</a>
    </div>
</div>
